<% if should_show %>
  <div>
    <tr>
      <th> <strong>Textura</strong> </th>
      <th> <strong>Color</strong> </th>
      <th> <strong>Color Secundario</strong> </th>
      <th> <strong>Categoria</strong> </th>
      <th> <strong>Tipo de Prenda</strong> </th>
    </tr>
  </div>
<% end %>
