<div>
  <h1>Todas las prendas</h1>
  <div class="prendas-view">
    <table class="guardarropa">
      <tr>  <%= render 'header_prenda', should_show: @prendas.present? %> </tr>
      <% @prendas.each do |prenda| %>
        <%= render 'prenda', prenda: prenda %>
      <%end%>
    </table>
  </div>
  <div class= "prendas-btn">
    <%= link_to "Agregar Prenda", new_prenda_path %>
  </div>
</div>
