<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      ACA VA A ESTAR LA NAVBAR
    </nav>
    <%= yield %>
  </body>
</html>
